name: Twister nightly mac

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  twister-build:
    strategy:
      fail-fast: false
      matrix:
        os: [macos]
        subset: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
        include:
           - os: macos
             runner: '["macos-15"]'

    runs-on: ${{ fromJson(matrix.runner) }}
    steps:
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Checkout sources
        uses: nrfconnect/action-checkout-west-update@main
        with:
          git-fetch-depth: 0

      - name: west group filter
        working-directory: ncs
        run: |
          west config manifest.group-filter +bsec
          west update --narrow

      - name: Setup ncs toolchain
        uses: nrfconnect/action-ncs-toolchain-setup@main

      - name: Run twister
        working-directory: ncs
        shell: bash
        run: |
          nrf/scripts/ci/twister_runner.sh tb ${{ matrix.subset }}/25

      - name: Upload twister
        if: always()
        id: artifact-upload-step
        uses: actions/upload-artifact@v4
        with:
          name: Twister results dir ${{ runner.os }} ${{matrix.subset}}
          if-no-files-found: ignore
          include-hidden-files: false
          retention-days: 1
          path: |
            ncs/results_samples/**/*
            !ncs/twister_build/**/build.ninja*
            ncs/tb/**/*.hex
            ncs/tb/**/*.log

  artifact-combination:
    needs: twister-build
    runs-on: ubuntu-latest
    steps:
      - name: Download all twister artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: Twister results dir *
          path: artifacts

      - name: Combine all artifacts
        shell: bash
        run: |
          set -euo pipefail

          mkdir -p combined

          # Loop through each downloaded artifact folder (e.g., "artifacts/Twister results dir Linux 1")
          # and merge its contents into "combined"
          for artifact_dir in artifacts/*; do
             if [ -d "$artifact_dir" ]; then
               # The trailing slash on artifact_dir/ is important for rsync to copy contents, not the folder itself
               rsync -a "$artifact_dir/" combined/
             fi
          done

      - name: Upload combined twister artifact
        uses: actions/upload-artifact@v4
        with:
          name: Twister combined results
          retention-days: 7
          path: combined/**
